{% extends 'base.html.twig' %}

{% block body %}
    <h2>Clubs</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="10">Les clubs ({{ lesClubs|length }})</th>
            </tr>
        </thead>
        <tbody>
            {% for unClub in lesClubs %}
                <tr>
                    <td>{{ unClub.id }}</td>
                    <td>{{ unClub.nom }}</td>
                </tr>
                {% for unAdherent in unClub.getAdherents() %}
                    <tr>
                        <td></td>
                        <td>n°{{ unAdherent.getId() }} : {{ unAdherent.getNom() }}</td>
                        <td><a href=" {{ path('adherentDetails',{ id:unAdherent.id }) }}">Lien vers l'adhérent</a></td>
                        <td><a href=" {{ path('adherentModification',{ id:unAdherent.id }) }}">Modifier l'adhérent</a></td>
                        <td><a href=" {{ path('adherentSuppression',{ id:unAdherent.id }) }}">Supprimer l'adhérent</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td>Aucun adhérent dans ce club</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="6">Aucun clubs</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}